@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700;800&family=Work+Sans:ital,wght@0,700;1,400;1,800&display=swap');
*{
	box-sizing: border-box;
}

/* body{
	font-family: 'Work Sans', sans-serif;
} */

.nav-container{
	width: 100vw;
	min-height: 50px;
	background-color:lawngreen;
}
.nav-container{
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.logo-container{
	display: flex;
}
.logo-container p{
  font-size: 40px;
  width: 100px;
  
}
.logo-container img{
 width:100px;
 gap:5px;

 
}
.nav-items-container a{
  text-decoration: none;
  margin-right: 10px;
}
.logo{
	background: #db6060;
	margin-left: 10px;
   
}
.fa-youtube{
  color:#F61C0D;
}
.fa-tiktok{
	color:#000000;
	border:none;
}
.btn{
	border: none;
	font-size: 17px;
}
.banner-container{
	display: flex;
	width:100vw;
	align-items: center;
	justify-content: space-around;
}
.banner-text > h1{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  font-size: 65px;
  font-weight: 800px;
}
.banner-text h2{
   color: #0B0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.btn-one{
	color: #FFF;
  padding:5px;
  margin:0px 25px 0px  0px;
  border: none;
  background-color: #db6060;
  border-radius: 25px; 
}
.btn-two{
  padding:5px;
  border: none;
  background-color:#4EC5F7; 
  border-radius: 20px;
}
.banner-container .banner-imges{
  width:50%;
}
.body-container{
	width:100vw;
	display:flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgb(235, 235, 225);
}

.headline{
	background-color:#F61C0D;
	width: max-content;
}
.skill-container{
	display: flex;
}
.skill{
	padding:30px;
}
.title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 30px;
  font-style: normal;
 font-weight: 700;
  line-height: normal;
	
}
.parent-container{
	display: flex;
	align-items: center;
	width: 100vw;
	margin-top: 120px;
	
}
.horse-img{
	margin:0 auto;
	position: relative;
	
}
.text-title{
	background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
	font-size: 45px;
}
 
.picture-2{
	position: absolute;
	bottom: -40px;
	right:480px;
	
}
.btn-title{
	font-family: Work Sans;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	border-radius: 25px;
	border: none;

}
.demo-container p{
	color: white;
}
.demo-container{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: crimson;
	width: 100%;
	min-height: 100px;
	margin-top: 130px;
}
.carrier-info{
	margin:10px  0px 0px 30px ;
}
imogi-container{
	display:flow-root;
}
.footer{
	background-color: blue;
	color: white;
	width: 100vw;
}
.fa-twitter{
	color:#4EC5F7;
}
 .fa-instagram{
  color:crimson;
  
}
.fa-phone{
	color:#2962ff;
}
.container{
	display: flex;
	flex-wrap: wrap;
    width:80%;
    min-height: 200px; 
	justify-content:space-evenly;
	align-items: 0px auto;
	margin:  20px 0px  0px 100px;
	
}
.imog :hover{
   background-color: royalblue;
   
   
}
.footer-container{
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100vw;
	min-height: 200px;
	margin-top: 50px;
}
.footer-headline{
	color:white;
}
.footer-headline-color{
color:#F948B2;
}
.logo-img-container{
	display: flex;
	width: 30%;
	margin-left: 150px;
	
}
.logo-img-container .footer-description{
  align-items: center;
  justify-content: center;
  color: #FFF;
  margin-left: 100px;
  
}
.footer-logos-container .footer-logo{
	/* justify-content: space-evenly; */
	align-items: center;
	/* margin-left: 100px; */
}
.footer-logos-container{
	display: flex;
	justify-content: space-around;
	width: 20%;
	min-height: 100px;
	margin:50px  0px  0px 500px;
	
}
.footer-main-container{
	background-color:#0B0223;
	width: 100vw;
	min-height: 200px;
	
.fa-facebook{
	color:#385898;
}